@{
    ViewBag.Title = "Solicitud Bajo Stock";
    List<Model.Menu1> lstMenu = ViewBag.Menu1;
    List<Model.Menu2> lstMenu2 = ViewBag.Menu2;
}
@section Menu1 {
    @foreach (var item in lstMenu)
    {
        if (item.pagina == "Dispositivo")
        {
            <li class="active"> <a href="~/@item.pagina/Index"> @item.pagina </a> </li>
        }
        else
        {
            <li> <a href="~/@item.pagina/Index"> @item.pagina </a> </li>
        }
    }
}
@section Menu2 {
    @foreach (var subP in lstMenu2)
    {
        if (subP.subPagina == "Ingreso Dispositivo")
        {
            <a href="~/Dispositivo/IngDispositivo" class="list-group-item"> <b> @subP.subPagina </b> </a>
        }
        else if (subP.subPagina == "Solicitud Dispositivo")
        {
            <a href="~/Dispositivo/SolDispositivo" class="list-group-item"> <b> @subP.subPagina </b> </a>
        }
        else if (subP.subPagina == "Solicitud BajoStock")
        {
            <a href="~/Dispositivo/SolBajoStock" class="list-group-item active"> <b> @subP.subPagina </b> </a>
        }
    }
}
<div class="jumbotron" style="text-align:center;">
    <h2> Solicitudes Bajo Stock <i class="glyphicon glyphicon-tasks"></i> </h2>
</div>
<div>
    <button class="btn btn-primary" id="nuevaSolicitudBajoStock"> Nueva Solicitud </button>
</div>
<br />
<hr />
<br />
<div id="solicitud-list" class="container col-xs-12">
    @Html.Partial("SolBajoStockList")
</div>